# data
data/maestro/midi/
data/maestro/audio/

# python
__pycache__/
*.pyc

# experiments
logs/
checkpoints/

# notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# large data files
data/maestro/maestro-v3.0.0-midi.zip
external/DH-SNN/AUDIO/data/
